{% extends "base.html" %}
{% block title %} Flopbuster: An Insight Data Science Project {% endblock %}
{%block topbar%}
<div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">Flopbuster</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/app">App</a></li>
                  <li><a href="/slides">Slides</a></li>
                  <li class="active"><a href="/about">About/Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
{%endblock%}
{% block content %}
<div class="container-narrow">
      <!-- The main text of the page -->
    <div class="row">
      <div class="span3">
      <div class="well">
        <img src="/static/img/profile.jpg" class="img-rounded">
      </div>
    </div>
      <div class="span6">
        <div class="well">
          <h2> Praveen Kundurthy </h2>
          <p> Insight Data Science Fellow, June 2013. 
            <br> PhD. Astronomy, University of Washington, Seattle 
            <br> <a href="mailto:p.kundurthy7@gmail.com"> Contact me! </a>
            <br> <a href="http://www.linkedin.com/pub/praveen-kundurthy/28/528/43b"> Link up! </a>
          </p>
        </div>
    </div>
  </div>
    <hr>
</div>  <!-- /container -->
{% endblock %}
