{% extends "base.html" %}
{% block title %} Flopbuster: An Insight Data Science Project {% endblock %}
{%block topbar%}
<div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">Flopbuster</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/app">App</a></li>
                  <li><a href="/slides">Slides</a></li>
                  <li><a href="/about">About/Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
{%endblock%}
{% block content %}
 <div class="container-narrow">
      <!-- The main text of the page -->
      <div class="jumbotron">
        <h4> Profitability </h4>
        <div id="container" style="width:90%; height:400px;"></div>
    </div>
    <hr>
</div>
{% endblock %}
{% block script %} <script  type="text/javascript" src="static/js/profitability.js"> </script> {% endblock %}
{% block acks %} <p class="lead"> &nbsp Powered by data from <a href='http://www.imdb.com'> IMDB</a> and <a href='http://www.the-numbers.com'> the-numbers.com </a></p> {% endblock %}


